<div class="view-wrapper">
    <div class="canvas-panel">
        <div class="canvas-wrapper">
            <canvas width="1920" height="1080" style="background:white;" ng-class="activeTool"></canvas>
        </div>
    </div>
    <div class="tools-panel">
        <ul class="tools-list">
            <li class="tool">
                <i class="fa fa-user"></i> {{pseudo}}
            </li>
            <li class="tool" ng-class="selectedTool == 'pencil' ? 'selected':''">
                <i class="fa fa-pencil" ng-click="changeTool('pencil')"></i> Pencil
            </li>
            <li class="tool" ng-class="selectedTool == 'eraser' ? 'selected':''">
                <i class="fa fa-eraser" ng-click="changeTool('eraser')"></i> Eraser
            </li>
            <li class="tool">
                <i class="fa fa-trash" ng-click="changeTool('reset')"></i> Reset
            </li>
            <li class="tool">
                <i class="fa fa-eyedropper"></i> Change Color
            </li>
        </ul>
    </div>
    <div class="chat-room">
        <ul class="chat-list" scroll-glue>
            <li class="chat-message" ng-repeat="message in messages">
                <span class="pseudo">{{message.pseudo}} : </span>{{message.text}}
            </li>
        </ul>

        <form class="chat-form" ng-submit="sendMessage()">
            <input type="text" ng-model="input" />
            <button class="filled">Envoyer</button>
        </form>
    </div>
</div>