//color
$darkgrey : #333;
$mediumgrey : #BBB;
$lightgrey : #F0F0F0;
$white : #fff;
$orange : #EE484C;

$filled-color:$orange;

$gradient1 : #6798EA;
$gradient2 : #6BC2F4;
$gradient3 : #6CD2DD;
$gradient4 : #6BF4DB;
$gradient5 : #67EAAD;